/task1/venv
/task1/__pycache__/
/task1/models/__pycache__/
/task2/__pycache__/
/task2/raw-img
/task2/venv
/task2/ner/model
/task2/ner/data
/task2/cnn/__pycache__/
/task2/pipeline/__pycache__/
/task2/ner/__pycache__/
*.pth